In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\r5-3500u\desktop\ciencia de datos\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\r5-3500u\desktop\ciencia de datos\.venv\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\r5-3500u\desktop\ciencia de datos\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\r5-3500u\desktop\ciencia de datos\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\r5-3500u\desktop\ciencia de datos\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\r5-3500u\desktop\ciencia de datos\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import os

In [5]:
directorio_base = "C:\\Users\\R5-3500U\\Downloads"

In [6]:
cosa= "IOT-temp.csv"

In [7]:
df = pd.read_csv(os.path.join(directorio_base, cosa))

In [8]:
df

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [9]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97606 entries, 0 to 97605
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          97606 non-null  object
 1   room_id/id  97606 non-null  object
 2   noted_date  97606 non-null  object
 3   temp        97606 non-null  int64
 4   out/in      97606 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.7+ MB

-Podemos percatarnos que id es un tipo de dato object, cosa la cual no tiene mucha logica y a su vez temp es un int64, aunque deberia ser un float, mismos errores se repiten en room id, el problema mas destacable es que noted date se representa como un object, cuando deberia ser tomado como data time

In [10]:
df.rename(columns={
    'room_id/id': 'room_id',
    'out/in': 'location'
}, inplace=True)

In [11]:
try:
    df['noted_date'] = pd.to_datetime(df['noted_date'])
except Exception as e:
    print(f"ERROR: No se pudo convertir 'noted_date' a datetime. Revisar formato de fecha. Detalles: {e}")

ERROR: No se pudo convertir 'noted_date' a datetime. Revisar formato de fecha. Detalles: time data "30-11-2018 23:58" doesn't match format "%m-%d-%Y %H:%M", at position 3613. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [12]:
df['temp'] = df['temp'].astype('float64')

In [13]:
df['id'] = df['id'].astype('category')
df['room_id'] = df['room_id'].astype('category')
df['location'] = df['location'].astype('category')

In [14]:
num_duplicados = df.duplicated().sum()
if num_duplicados > 0:
    print(f"   -> Â¡ATENCIÃ“N! Se encontraron {num_duplicados} filas duplicadas. Eliminando...")
    df.drop_duplicates(inplace=True)
else:
    print("   -> No se encontraron filas duplicadas.")

   -> Â¡ATENCIÃ“N! Se encontraron 1 filas duplicadas. Eliminando...

In [15]:
df['location'] = df['location'].str.lower()

In [16]:
print("\n" + "="*50)
print("               LIMPIEZA COMPLETADA ")
print("="*50)


print("\nInformaciÃ³n del DataFrame despuÃ©s de la limpieza:")
df.info()

print("\nPrimeras 5 filas del DataFrame limpio:")
print(df.head())

==================================================
               LIMPIEZA COMPLETADA
==================================================

InformaciÃ³n del DataFrame despuÃ©s de la limpieza:
<class 'pandas.core.frame.DataFrame'>
Index: 97605 entries, 0 to 97605
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          97605 non-null  category
 1   room_id     97605 non-null  category
 2   noted_date  97605 non-null  object
 3   temp        97605 non-null  float64
 4   location    97605 non-null  object
dtypes: category(2), float64(1), object(2)
memory usage: 6.2+ MB

Primeras 5 filas del DataFrame limpio:
                                    id     room_id        noted_date  temp  \
0  __export__.temp_log_196134_bd201015  Room Admin  08-12-2018 09:30  29.0
1  __export__.temp_log_196131_7bca51bc  Room Admin  08-12-2018 09:30  29.0
2  __export__.temp_log_196127_522915e3  Room Admin  08-12-2018 09:29  41.0
3  __export__.temp_log_196128_be0919cf  Room Admin  08-12-2018 09:29  41.0
4  __export__.temp_log_196126_d30b72fb  Room Admin  08-12-2018 09:29  31.0

  location
0       in
1       in
2      out
3      out
4       in

In [17]:
num_duplicados = df.duplicated().sum()
print(f"Se encontraron {num_duplicados} filas duplicadas.")

Se encontraron 0 filas duplicadas.

In [18]:
num_nulos_temp = df['temp'].isnull().sum()
print(f"Se encontraron {num_nulos_temp} valores que no se pudieron convertir a nÃºmero y ahora son nulos (NaN).")

Se encontraron 0 valores que no se pudieron convertir a nÃºmero y ahora son nulos (NaN).

-No he podido conseguir que la fecha cammbie de tipo de dato, toca volver a intentar

In [19]:
df['noted_date'] = pd.to_datetime(df['noted_date'], errors='coerce')

In [20]:
num_fallos = df['noted_date'].isna().sum()

print(f"NÃºmero de valores que fallaron la conversiÃ³n y ahora son NaT: {num_fallos}")

NÃºmero de valores que fallaron la conversiÃ³n y ahora son NaT: 47662

In [21]:
if num_fallos > 0:
    print("\nEjemplos de los datos originales que fallaron:")
    filas_erroneas = df[df['noted_date'].isna()]
    print(filas_erroneas['noted_date'].head().to_string())

Ejemplos de los datos originales que fallaron:
7612   NaT
7613   NaT
7614   NaT
7615   NaT
7616   NaT

In [22]:
DATE_FORMAT = '%d-%m-%Y %H:%M'


df['noted_date'] = pd.to_datetime(df['noted_date'], format=DATE_FORMAT, errors='coerce')

In [23]:
if num_fallos > 0:
    print(f"-> Â¡ATENCIÃ“N! {num_fallos} filas fallaron la conversiÃ³n y se establecieron a NaT.")
    # Eliminar las filas con fechas invÃ¡lidas (NaT)
    # subset=['noted_date'] asegura que solo eliminamos filas si esa columna es nula.
    df.dropna(subset=['noted_date'], inplace=True)
    print(f"-> Filas con fechas invÃ¡lidas eliminadas. Nuevo tamaÃ±o: {len(df)}")
else:
    print("-> Â¡Excelente! No se encontraron fechas invÃ¡lidas (NaT).")

-> Â¡ATENCIÃ“N! 47662 filas fallaron la conversiÃ³n y se establecieron a NaT.
-> Filas con fechas invÃ¡lidas eliminadas. Nuevo tamaÃ±o: 49943

In [24]:
fecha_minima = df['noted_date'].min()
fecha_maxima = df['noted_date'].max()

print("\n--- Rango Temporal del Dataset ---")
print(f"Fecha de inicio (MÃ­nima): {fecha_minima}")
print(f"Fecha de fin (MÃ¡xima): {fecha_maxima}")
print("-----------------------------------")

--- Rango Temporal del Dataset ---
Fecha de inicio (MÃ­nima): 2018-01-11 00:06:00
Fecha de fin (MÃ¡xima): 2018-12-10 23:55:00
-----------------------------------

In [25]:
print("\n" + "="*50)
print("               LIMPIEZA COMPLETADA ")
print("="*50)


print("\nInformaciÃ³n del DataFrame despuÃ©s de la limpieza:")
df.info()

print("\nPrimeras 5 filas del DataFrame limpio:")
print(df.head())

==================================================
               LIMPIEZA COMPLETADA
==================================================

InformaciÃ³n del DataFrame despuÃ©s de la limpieza:
<class 'pandas.core.frame.DataFrame'>
Index: 49943 entries, 0 to 97451
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          49943 non-null  category
 1   room_id     49943 non-null  category
 2   noted_date  49943 non-null  datetime64[ns]
 3   temp        49943 non-null  float64
 4   location    49943 non-null  object
dtypes: category(2), datetime64[ns](1), float64(1), object(1)
memory usage: 4.5+ MB

Primeras 5 filas del DataFrame limpio:
                                    id     room_id          noted_date  temp  \
0  __export__.temp_log_196134_bd201015  Room Admin 2018-08-12 09:30:00  29.0
1  __export__.temp_log_196131_7bca51bc  Room Admin 2018-08-12 09:30:00  29.0
2  __export__.temp_log_196127_522915e3  Room Admin 2018-08-12 09:29:00  41.0
3  __export__.temp_log_196128_be0919cf  Room Admin 2018-08-12 09:29:00  41.0
4  __export__.temp_log_196126_d30b72fb  Room Admin 2018-08-12 09:29:00  31.0

  location
0       in
1       in
2      out
3      out
4       in

-Despues de organizar el tipo de datos de todas las columnas y limpiar los noted date nulos, se han arreglados todos los problemas de la base de datos quedando un total de 49.943 datos